<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <link href="static/main.css" rel="stylesheet" />
    <title>luna-lung-cancer-detection</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Predict Nodules</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Predict</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/team">Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main style="min-height:70vh">

        <div class="container">
            <h2 style="text-align: center; margin-top: 3em; margin-bottom: 2em;">Guide</h2>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/static/images/rajkumar.jpg" class="img-fluid" alt="Image of Rajkumar"
                                    style="border-radius: 50%; align-items: center; align-content: center; display: flex;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Dr. R Rajkumar</h5>
                                    <p class="card-text"><small class="text-muted">Associate Professor @ RNSIT</small>
                                    </p>
                                    <a href="https://www.linkedin.com/in/rajkumar14/" target="_blank"><img
                                            src="/static/images/linkedin.png" alt="Linkedin Logo" width="16"></a>
                                    <a href="https://github.com/KirtanaSridharan" target="_blank"><img
                                            src="/static/images/github.png" alt="Github Logo" width="16"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

        </div>
        </div>
        <div class="container">
            <h2 style="text-align: center; margin-top: 3em; margin-bottom: 2em;">Team Members</h2>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/static/images/kirtana.jpg" class="img-fluid" alt="Image of Kirtana"
                                    style="border-radius: 50%; align-items: center; align-content: center; display: flex;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Kirtana Sridharan</h5>
                                    <p class="card-text"><small class="text-muted">Student @ ISE, RNSIT</small>
                                    </p>
                                    <a href="https://www.linkedin.com/in/kirtana-sridharan-9977a9182"
                                        target="_blank"><img src="/static/images/linkedin.png" alt="Linkedin Logo"
                                            width="16"></a>
                                    <a href="https://github.com/KirtanaSridharan" target="_blank"><img
                                            src="/static/images/github.png" alt="Github Logo" width="16"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/static/images/nikitha.jpg" class="img-fluid" alt="Image of Nikitha"
                                    style="border-radius: 50%; align-items: center; align-content: center; display: flex;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Nikitha S</h5>
                                    <p class="card-text"><small class="text-muted">Student @ ISE, RNSIT</small>
                                    </p>
                                    <a href="https://www.linkedin.com/in/nikitha-satish-206361166" target="_blank"><img
                                            src="/static/images/linkedin.png" alt="Linkedin Logo" width="16"></a>
                                    <a href="https://github.com/Nikitha-99" target="_blank"><img
                                            src="/static/images/github.png" alt="Github Logo" width="16"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" style="margin-top: 2em;">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/static/images/misran.jpg" class="img-fluid" alt="Image of Misran"
                                    style="border-radius: 50%; align-items: center; align-content: center; display: flex;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Mohammed Misran</h5>
                                    <p class="card-text"><small class="text-muted">Student @ ISE, RNSIT</small>
                                    </p>
                                    <a href="https://www.linkedin.com/in/mohammed-misran-1398a11a3/"
                                        target="_blank"><img src="/static/images/linkedin.png" alt="Linkedin Logo"
                                            width="16"></a>
                                    <a href=" https://github.com/Mohd-Misran" target="_blank"><img
                                            src="/static/images/github.png" alt="Github Logo" width="16"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/static/images/apoorva.jpg" class="img-fluid" alt="Image of Apoorva"
                                    style="border-radius: 50%; align-items: center; align-content: center; display: flex;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Apoorva Kashi</h5>
                                    <p class="card-text"><small class="text-muted">Student @ ISE, RNSIT</small>
                                    </p>
                                    <a href="https://www.linkedin.com/in/apoorva-kashi-7a8b38197/" target="_blank"><img
                                            src="/static/images/linkedin.png" alt="Linkedin Logo" width="16"></a>
                                    <a href="https://github.com/apoorvakashi" target="_blank"><img
                                            src="/static/images/github.png" alt="Github Logo" width="16"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        </div>
    </main>
    <div class="container">

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">2022 &copy; ISE-B14-2022 Team</p>
            <p class="col-md-4 mb-0 text-muted" style="text-align: center;"><a
                    href="https://github.com/apoorvakashi/lung-cancer-detection-pytorch" target="_blank"
                    style="color: grey;">Github
                    Link</a></p>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Predict</a></li>
                <li class="nav-item active"><a href="/team" class="nav-link px-2 text-muted">Team</a></li>
            </ul>
        </footer>

    </div>
    <script src="https//cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
</body>

</html>